<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>UFBA - Sistema de Abertura de Processos</title>
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="bootstrap/js/url_index.js"></script>
		<style>
      		.footer {
      			position:absolute;
				bottom:0;
				width:100%;
				font-size: 14px;
				padding-top: 50px;
				padding-bottom: 15px;
				background: #000000;
				color: #bdc3c7;
			}
			.login{
  				width: 460px;  
                left: 500%; 
                margin: -30px 0 0 60px; 
                padding:150px;
			}			
    	</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top ">
  			<div class="navbar-inner">
  				<div class="container">
  					<a class="brand" href="index.html">Sistema de Abertura de Processos UFBA</a>
    				<ul class="nav">
      					<!--<li class="active"><a href="#">Início</a></li>
      					<li><a href="#">Link</a></li>
      					<li><a href="#">Link</a></li>-->
    				</ul>
  				</div>
  			</div>
		</div>
						
		<div class="container">
			<div class="login">
				<fieldset>
					<legend>Entrar no sistema</legend>
					<form class="form-signin" action="processos_aluno.html" method="POST">
						CPF: <input type="text" name="cpf" class="input-block-level" placeholder="CPF" autofocus required>
		  				Senha: <input type="password" name="senha" class="input-block-level" placeholder="Senha" required>
		        		<label class="checkbox">
		         			<input type="checkbox" value="lembrar-me"> Salvar
		        		</label>
		        		<button class="btn btn-large btn-block btn-primary" type="submit">Entrar</button>
		     		 </form>
		      	</fieldset>
		    </div>

   		</div>
				
		<footer class="footer">
			<div class="container">
				<address>
					<strong>UFBA - Universidade Federal da Bahia</strong><br>
					Avenida Ademar de Barros, S/N - Campus de Ondina <br>
					CEP 40.170-110 Salvador-Bahia.<br>
					Telefone: 3283-6124 / Fax: 3283-6123
				</address>
			</div>
		</footer>
	</body>
</html>